.createoffer{
    margin-top:20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
    background-color: #fff;
    background-clip: border-box;
    margin:0 auto;
}

.createofferbtn{
    border: 1px solid #69677a;
    border-radius: .25rem;
    color: #393842;
    padding: 18px 52px 14px;
    text-align: center;
    display: inline-block;
    width: 100%;
    
}

.inpwork{
    border-radius: 0rem;
    margin-top: 20px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

.offerform{
    margin-top: 10px;
    border-radius: 0;
    padding-left: 20px;
    padding-right:20px
}

.createofferbtn:hover{
    text-decoration: none
}

.offerbtn{
    margin-top:20px;
    margin-bottom: 20px;
}

.discount{
    display: flex
}

.discheck{
    height:20px;
    width: 20px;
}