.signupform{
    margin-top: 10px;
    border-radius: 0
}
.inpuser, .inpcomp{
    border-radius: 0rem;
    margin-top:10px;
    border-top: hidden;
    border-left: hidden;
    border-right:hidden;
}
.signupuserbtn, .signupcompanybtn{
    margin-top:10px;
}
.regalert{
    width:100%;
    position:absolute;
    top:0;
    left:0;
    text-align: center;
}