body {
  margin: 0;
  padding: 0;
  font-family: "SFMono-Regular","Menlo,Monaco","Consolas",
  "Liberation Mono",
  "Courier New",
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row{
  margin:0
}

.container-fluid{
  padding: 0;
}

.col-md-6{
  padding:0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.form-control:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}